.price__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  color: white;
  margin-top: -20px;
  position: relative;
  padding-bottom: 20px;
  &::after {
    position: absolute;
    bottom: -34px;
    left: 0;

    content: "";
    transform: rotate(180deg);

    border: 160px solid transparent;
    border-top-width: 0;
    border-bottom-width: 34px;
    border-bottom-color: #353535;
  }
}
.price {
  background-color: #353535;
}
.price__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding-top: 60px;
}
.price__number {
  display: none;
}
.price__service,
.price__description {
  display: block;
}
.price__service {
  font-weight: 700;
}
.price__description {
  text-transform: lowercase;
}
.price__cost {
  padding-left: 60px;
  vertical-align: text-top;
  text-align: right;
}
.price__list {
  margin-bottom: 30px;
  color: white;
}
.price__sale {
  display: flex;
  border: 1px solid #4a4a4a;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: space-between;
}
.price__clock {
  height: 58px;
  width: 57px;
  padding-right: 40px;
  padding-top: 10px;
}
.price__description {
  padding-top: 0px;
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    width: 640px;
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
    padding-bottom: 40px;
    &::after {
      display: none;
    }
  }
  .price__title {
    text-align: left;
    margin-bottom: 50px;
  }
  .price__list {
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    tbody {
      display: table-row-group;
    }

    tr {
      display: table-row;

      margin-top: 0;
    }

    td {
      border: 1px solid #4a4a4a;
      display: table-cell;
}
  }
  .price__number {
    font-size: 20px;
    line-height: 54px;

    display: table-cell;

    width: 70px;

    text-align: center;

    color: rgba(255,255,255,0.3);
  }

  .price__service {
    box-sizing: border-box;
    width: 248px;
    padding-left: 20px;

    text-align: left;
  }

  .price__description {
    box-sizing: border-box;
    width: 158px;
    padding-left: 20px;

    text-align: left;
  }

  .price__cost{
    box-sizing: border-box;
    width: 159px;
    padding-left: 21px;
    vertical-align: middle;
    text-align: left;
  }
  .price__clock {
    width: 72px;
    height: 71px;
    margin-left: 26px;
  }
  .price__sale-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-right: 90px;
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    width: 960px;
    margin: 0 auto;

    padding-left: 140px;
    padding-right: 120px;
  }

  .price__clock {
    width: 142px;
    height: 139px;
  }
  .price__sale-text {
    font-size: 20px;
    line-height: 27px;
    width: 145px;
    display: block;
    margin-left: 20px;
    text-transform: none;
    text-align: center;
}
  .price__sale {
    flex-direction: column;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;


  }
  .price__list {
    width: 630px;
    margin: 0;
    margin-right: 60px;
  }
  .price__cost{
    box-sizing: border-box;
    width: 145px;
    padding-left: 21px;
    vertical-align: middle;
    text-align: left;
  }
  .price__container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
